<div class="header">
  <a href="#default" class="logo">Valsir</a>
  <div class="header-right">
    <a class="active" href="#home">{{ "home" | translate }}</a>
    <a href="#contact">{{ "contact" | translate }}</a>
    <a href="#about">{{ "about" | translate }}</a>
    <div class="select-container">
      <select
        class="form-select"
        (change)="ChangeLang($event)"
        name="langSelect"
      >
        <option [selected]="lang === 'en'" value="en">English</option>
        <option [selected]="lang === 'fr'" value="fr">French</option>
        <option [selected]="lang === 'es'" value="es">Spanish</option>
      </select>
      <span class="select-arrow">&#9660;</span>
    </div>
  </div>
</div>

<app-breadcrumb> </app-breadcrumb>
