.header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 28px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
}

/* Style options */
.form-select option {
  background-color: #333;
  color: white;
}
