* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #7a3f17;
  color: black;
}

.header a.active {
  background-color: #eb5e00;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {
  background-color: #04aa6d;
} /* Green */
.info {
  background-color: #2196f3;
} /* Blue */
.warning {
  background-color: #ff9800;
} /* Orange */
.danger {
  background-color: #f44336;
} /* Red */
.other {
  background-color: #e7e7e7;
  color: black;
} /* Gray */


/* Reset default styles */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Set custom border */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* Add padding for better spacing */
  padding: 8px 30px 8px 12px; /* Adjust right padding to accommodate the arrow */
  /* Set width to make it more readable */
  width: 100%;
  /* Use pointer cursor to indicate it's clickable */
  cursor: pointer;
  /* Set custom background and text color */
  background-color: #fff;
  color: #333;
  /* Transition for smoother animations */
  transition: border-color 0.3s ease;
}

/* Hover effect */
select:hover {
  border-color: #999;
}

/* Focus effect */
select:focus {
  outline: none;
  border-color: #666;
}

/* Disabled state */
select:disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: not-allowed;
}

/* Arrow */
select::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with clicking */
}
